.countdown-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.countdown-item {
    text-align: center;
    margin: 0 10px;
}

.countdown-item span {
    display: block;
    font-size: 0.8rem;
    color: #999;
    margin-top: 5px;
}